fieldset {
  border: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input:not([type="radio"]) {
  padding: var(--sp150) var(--sp200);
  border: 1px solid var(--slate700);
  border-radius: var(--borderRadiusSmall);
  &:hover {
    border: 1px solid var(--slate900);
  }
  &:focus-visible {
    border: 1px solid transparent;
    outline: 1px solid var(--lime);
  }
}

.mortgage-term {
  display: flex;
  justify-content: space-between;
  gap: var(--sp300);
}

@media only screen and (max-width: 700px) {
  .mortgage-term {
    flex-direction: column;
  }
}
